body {
  background-color:#171718;
  color: white;
  font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
}
#wrap{
  width: 100%;
  height: 600px;
  background-color: #171718;
  border: 1px solid white;
  text-decoration: none;
  }
  #heading{
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 30px;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-box-direction: normal;
  }
  #stock1{
  width: 160.5px;
  height: 184px;
  float: left;
  background-color: #171718;
  border: 1px solid #000 ;
  text-decoration: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 184px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
  overflow: hidden;
  padding: 22px 23px;
  width: 160.5px;
  }
  #stock2{
  width: 160.5px;
  height: 184px;
  float: left;
  background-color: #171718;
  border: 1px solid #000 ;
  text-decoration: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 184px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
  overflow: hidden;
  padding: 22px 23px;
  width: 160.5px;
  }
  #stock3{
  width: 160.5px;
  height: 184px;
  float: left;
  background-color: #171718;
  border: 1px solid #000 ;
  text-decoration: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 184px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
  overflow: hidden;
  padding: 22px 23px;
  width: 160.5px;
  }
  #stock4{
  width: 160.5px;
  height: 184px;
  float: left;
  background-color: #171718;
  border: 1px solid #000 ;
  text-decoration: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 184px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-right: 12px;
  overflow: hidden;
  padding: 22px 23px;
  width: 160.5px;
  }
  #upper1{
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    font-weight: 500;
    text-decoration: none;
  }
  #upper2{
    color: white;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;    
  }
  #bottom1{
    color: #21ce99;
    display: block;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 30px;
  }
  #bottom2{
    color: #21ce99;
    display: block;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
  }